@import url(/styles/normalize.css);@import url(/styles/style.css); @import url(/styles/resposive.css);@import url(/styles/theme_mode.css);

*{
font-family: "M PLUS 2";
    padding:0 ;
    margin: 0;
    border: transparent;
}

body{
    background-color:#292D4A ;
}






