body{
    background-color: #141f29;
    font-size: sans-serif;
}
.titulo{
text-align: center;
color:#10c7af;

}

.image_banner{
width: 100%;
opacity: 0.4 ;

}   
.consult_box{
    margin: 10px;
    width: 500px;
    border:2px solid #4a6a8a ;
    height: 25px;
    border-radius: 5px;
 }

form{
    display: flex;
    align-items: center;
    padding-top:50px;
}
#select_curso{
    background-color:#bdcbd9 ;
    width: 200px;
    height: 30px;
    display: grid;
    border-radius: 5px;
    text-align: center;
    font-size:15px ;
    font-style: oblique;
    border: none;
}
.enter {
    width: 200px;    
    height: 30px;

}
.flex-box{}

