@import url(/styles/global.css);

#nav-bar{/* comment */
    background-color: #454C7D50;
    height:75vh;
    border-radius: 0 0 20% 20%;
}

.nav-title{

    display: inline-block;
    width: auto;
    white-space:nowrap;
    position:absolute;


}

.nav-title h1{

    color: #fff;
    margin:1vw;
    font-size: 2rem;
    border-right: 3px solid;
    width: 16.5rem;
    animation: translateLeft 3s steps(20), blink 1s infinite ;
    overflow: hidden;

}

.nav-title h1 span{
    font-size: 3rem;
    color: #6F7BC9;

}

.consult {

    font-size:1.3rem;
    width: 40vw;
    position: absolute;
    left: 30rem;
    top:10rem;
    min-width:50%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;


}

.consult select{

    display:none;
    width:7vw;
    text-align:center;

}
.consult input{
    border:transparent;
}

.consult button{

    width: 5vw;
    height: 5vh;
    margin:1rem;
    
}


.colaps-menu {

    display: block;
    width:100%;
    height:auto;
    background:none;
    border: none;
    padding: 0.2vw;
    font-size:1.2rem;
    color:#fff;
}
.colaps-menu i {
    width:2rem;
    height:1rem
}
.colaps-menu:hover{
    animation: latido 1s infinite;
}
#setting-bar{
    display: none;
}



.message-error {
    background-color:#ff1D45 ;
    color:#000000;
    text-align: center;
    height: 50px;
    padding-top: 1.5rem;
    margin: 1rem;
    display: none;

}


.container{
    margin: 1rem 5rem;
    border: dashed 2px #2B4757;
    border-radius: 5px;
    color: #fef;
    height:50rem;
    overflow-y:scroll;
    display: flex;
    flex-direction:column;
}
.container div {
    display:flex;
    flex-direction:column; 
    justify-content:center ;
    border:solid 3px #2B4757;
    max-width: 25vw;
    min-width: 15vw;
    margin:3rem;
    padding: 1rem;
    text-align: center;
}

.container div img{
    width: 100%;

}

.container div:hover {
    cursor: pointer;
    transform:scale(1.1);
}


@keyframes translateLeft {
    from { width: 0; }
}

@keyframes latido{
    from { transform:scale(1.5) }
}

@keyframes blink{
    50%{ border-color: transparent;}
}

