@import url(/styles/global.css);


.bt-theme-mode{
    position: fixed;
    left: 96%;
    top:90%;
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 2vw;
    padding: 1px 3px 6px 6px; /* centrado de icono */
    background: #ffffff50;
}
.bt-theme-mode:hover{ /* resaltado de botton de cambio de tema */
    transform: scale(1.2);
    background:#fff;
}
.bt-theme-mode:active{
transform: scale(0.9);
}


